set cmdb => {
  type => 'YAML',
  path => [
    'config/environments/{environment}.yml',
  ],
  merge_behavior => 'LEFT_PRECEDENT',
};

for (qw(foo)) {
  environment $_ => sub {
    my $env = cmdb;
    set 'base_dir' => $env->{value}->{base_dir};
  };
}

task 'dummy', group => 'servers' => sub {
  my $base_dir = get 'base_dir';
  print "hello world - $base_dir\n";
};

